<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xmlns="https://jakarta.ee/xml/ns/jakartaee" 
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         id="WebApp_ID" version="5.0">
  <display-name>login</display-name>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>

  <!-- SendQuestionServlet -->
  <servlet>
      <servlet-name>SendQuestionServlet</servlet-name>
      <servlet-class>com.example.servlet.SendQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>SendQuestionServlet</servlet-name>
      <url-pattern>/sendQuestion</url-pattern>
  </servlet-mapping>

  <!-- ReplyQuestionServlet -->
  <servlet>
      <servlet-name>ReplyQuestionServlet</servlet-name>
      <servlet-class>com.example.servlet.ReplyQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>ReplyQuestionServlet</servlet-name>
      <url-pattern>/replyQuestion</url-pattern>
  </servlet-mapping>
  
<servlet>
    <servlet-name>loginCheck</servlet-name>
    <servlet-class>com.example.servlet.loginCheck</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>loginCheck</servlet-name>
    <url-pattern>/loginCheck</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.example.servlet.Register</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.example.servlet.logout</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>customerDashboard</servlet-name>
    <jsp-file>/customerDashboard.jsp</jsp-file>
</servlet>
<servlet-mapping>
    <servlet-name>customerDashboard</servlet-name>
    <url-pattern>/customerDashboard</url-pattern>
</servlet-mapping>

  
</web-app>
